<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout :: head" />

<body>
	<header th:replace="layout :: header" />
	<aside th:replace="layout :: sidebar" />
	<main id="main" class="main">
		<div class="pagetitle">
			<h1>Chi tiết phiếu nhập</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Home</a></li>
					<li class="breadcrumb-item active">Chi tiết phiếu nhập</li>
				</ol>
			</nav>
		</div><!-- End Page Title -->
		<div th:if="${success}" class="alert alert-success alert-dismissible fade show" role="alert">
			<i class="bi bi-check-circle me-1"></i>
			[[${success}]]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<div th:if="${error}" class="alert alert-danger alert-dismissible fade show" role="alert">
			<i class="bi bi-exclamation-octagon me-1"></i>
			[[${error}]]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

		<section class="section">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Chi tiết phiếu nhập</h5>

					<div class="datatable-top">
						<form action="/chitietphieunhap" method="get">
							<input type="text" name="keyword" th:value="${keyword}" placeholder="Tìm kiếm..."
								title="Enter search keyword">
							<button type="submit" title="Search"><i class="bi bi-search"></i></button>
						</form>
					</div>
					<!-- Table with stripped rows -->
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Tên sản phẩm</th>
								<th scope="col">Số phiếu nhập</th>
								<th scope="col">Số lượng nhập</th>
								<th scope="col">Giá nhập</th>
								<th scope="col">Tổng</th>
								<th scope="col">
									<a href="/chitietphieunhap/new">Thêm</a>
								</th>

							</tr>
						</thead>
						<tbody>
							<tr th:each="each : ${model}">
								<td th:text="${each.TenBanThanhPhan}"></td>
								<td th:text="${each.SoPhieuNhap}"></td>
								<td th:text="${each.SoLuong}"></td>
								<td><span
										th:text="${#numbers.formatDecimal(each.GiaNhap, 0, 'COMMA', 0, 'POINT')}+' vnđ'"></span>
								</td>
								<td><span
										th:text="${#numbers.formatDecimal(each.GiaNhap*each.SoLuong, 0, 'COMMA', 0, 'POINT')}+' vnđ'"></span>
								</td>
								<td>
									<div class="btn-group" role="group" aria-label="Basic outlined example">
										<button type="button" class="btn btn-outline-primary">
											<a
												th:href="@{'/chitietphieunhapedit/'+${each.MaBanThanhPhan}+'&'+${each.SoPhieuNhap}}">Sửa</a>
										</button>
										<button type="button" class="btn btn-outline-primary">
											<a
												th:href="@{'/chitietphieunhapdelete/'+${each.MaBanThanhPhan}+'&'+${each.SoPhieuNhap}}">Xóa</a>
										</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
					<!-- End Table with stripped rows -->
					<!-- Right/End Aligned Pagination -->
					<div th:if="${notfound}">
						[[${notfound}]]
					</div>
					<nav aria-label="Page navigation example">
						<ul class="pagination justify-content-end">
							<li class="page-item ">
								<a class="page-link"
									th:href="@{/chitietphieunhap(keyword=${keyword}, page=${trang}-1)}">Previous</a>
							</li>
							<li class="page-item" th:each="index : ${#numbers.sequence(1, sotrang)}">
								<a class="page-link"
									th:href="@{/chitietphieunhap(keyword=${keyword}, page=${index})}">[[${index}]]</a>
							</li>


						</ul>
					</nav><!-- End Right/End Aligned Pagination -->

				</div>
			</div>
		</section>

	</main>
	<footer th:replace="layout :: footer" />
</body>

</html>