<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<head th:replace="layout :: head" />

<body>

	<main>
		<div class="container">

			<section
				class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
				<div class="container">
					<div class="row justify-content-center">
						<div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

							<div class="d-flex justify-content-center py-4">
								<a href="index.html" class="logo d-flex align-items-center w-auto">
									<img src="assets/img/logok.jpg" alt="">
									<span class="d-none d-lg-block">KhoalaT</span>
								</a>
							</div><!-- End Logo -->

							<div class="card mb-3">

								<div class="card-body">

									<div class="pt-4 pb-2">
										<h5 class="card-title text-center pb-0 fs-4">Bước xác thực</h5>
										<p class="text-center small" th:text="'Chúng tôi đã gửi mã OTP về địa chỉ: '+${info.gmail}"></p>
									</div>
									<div th:if="${error}" class="alert alert-danger alert-dismissible fade show"
										role="alert">
										[[${error}]]
										<button type="button" class="btn-close" data-bs-dismiss="alert"
											aria-label="Close"></button>
									</div>
									<form class="row g-3 needs-validation" action="/setmatkhau"
										novalidate method="post">

										<div class="col-12">
											<label for="yourUsername" class="form-label">Nhập mã OTP</label>
											<div class="input-group has-validation">

												<input type="number" name="maotp" class="form-control"
													id="yourUsername" required>
												<div class="invalid-feedback">Vui lòng nhập mã otp.</div>
											</div>
										</div>
										<input type="hidden" th:value="${info.name}" name="name">
										<div class="col-12">
											<button class="btn btn-primary w-100" type="submit">Nhập</button>
										</div>
										
									</form>

								</div>
							</div>

							<div class="credits">

								Inherited by <a href="#">Anh Khoa =))</a>
							</div>

						</div>
					</div>
				</div>

			</section>

		</div>
	</main><!-- End #main -->

	<!-- Vendor JS Files -->
	<script src="/assets/vendor/apexcharts/apexcharts.min.js"></script>
	<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/vendor/chart.js/chart.umd.js"></script>
	<script src="/assets/vendor/echarts/echarts.min.js"></script>
	<script src="/assets/vendor/quill/quill.min.js"></script>
	<script src="/assets/vendor/simple-datatables/simple-datatables.js"></script>
	<script src="/assets/vendor/tinymce/tinymce.min.js"></script>
	<script src="/assets/vendor/php-email-form/validate.js"></script>

	<!-- Template Main JS File -->
	<script src="/assets/js/main.js"></script>
</body>

</html>